* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg {
  width: 100%;
  height: 100vh;
  background-color: #63272f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #371418;
  max-width: 400px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #c64945;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

img {
  width: 100%;
}
